{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div class="content">
    <div class="posts-list">
        {% include "includes/post.html" %}

        <div class="post-replies">
            {% for post in replies %}
                {% include "includes/post.html" %}
            {% endfor %}
        </div>
    </div>

    <div class="post-form">
        <div class="post-header">{% blocktrans with username=post.author.username %}Repy to {{ username }}?{% endblocktrans %}</div>
        <div class="post-subheader">{% trans "Post reply here:" %}</div>
        <form class="message" id="post_form">
            <textarea name="message"></textarea>
            <input type="hidden" name="parent" value="{{ post.id }}"/>
            <input class="button" type="submit" value="Post" onclick="post_create('{% url 'api:post-list' %}', new FormData(document.getElementById('post_form')))" />
        </form>
    </div>
</div>
{% endblock %}
