{% load i18n %}
<header>
    <div class="header">
        <a href="/">{% trans "Project for" %} {{ candidate_marker }}</a>
    </div>
    <div class="account">
        {% if request.user.is_authenticated %}
            {% trans "Hello" %} {{ user.username }}! -
            <a href="{% url "accounts:logout" %}">
                <span class="glyphicon glyphicon-log-out"></span> {% trans " Log out" %}
            </a>
        {% else %}
            <a href="{% url "accounts:login" %}?next={{ request.path }}" >
                {% trans "Log in" %}
            </a>
            &nbsp;or&nbsp;
            <a href="{% url "accounts_custom:signup" %}?next={{ request.path }}" >
                {% trans "Signup" %}
            </a>
        {% endif %}
    </div>
</header>
