{% load static %}
<div class="post">
    <div class="left">
        <div class="avatar">
            <img src="{% static "images/avatar.png" %}" />
        </div>
    </div>
    <div class="right">
        <div class="header">
            <div class="username">{{ post.author.username }}</div>
            <div class="date">{{ post.date_created }}</div>
        </div>
        <div class="message">{{ post.message }}</div>
        <div class="interactions">
            <div class="discussion">
                <a href="{% url "posts:detail" post.id %}"><span class="icon-chat-alt"></span></a> {{ post.reply_count }}
            </div>
            <div class="like">
                <a href="#" onclick="post_like('{% url "api:post-like" post.id %}');"><span class="icon-heart-empty"></span></a> {{ post.like_count }}
            </div>
        </div>
        {% if request.user.id == post.author.id %}
            <div class="delete">
                <a href="#" onclick="post_delete('{% url "api:post-detail" post.id %}');"><span class="icon-cancel-circled-outline"></span></a>
            </div>
        {% endif %}
    </div>
</div>
